table{
    border-collapse: collapse;
    empty-cells: hide;
}

th,td{
    border: 1px solid;
    text-align: center;
}

pre{
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
}